[submodule "pico_mqtt/-f"]
	path = pico_mqtt/-f
	url = https://github.com/eclipse/paho.mqtt.c.git
[submodule "pico_mqtt/external"]
	path = pico_mqtt/external
	url = https://github.com/eclipse/paho.mqtt.c.git
[submodule "pico_mqtt/external/paho.mqtt.c.git"]
	path = pico_mqtt/external/paho.mqtt.c.git
	url = https://github.com/eclipse/paho.mqtt.c.git
[submodule "pico_mqtt/external/pico-sdk"]
	path = pico_mqtt/external/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "pico_mqtt/external/paho.mqtt.embedded-c.git"]
	path = pico_mqtt/external/paho.mqtt.embedded-c.git
	url = https://github.com/eclipse/paho.mqtt.embedded-c.git
